/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* START_HIGHLIGHT */

table {
    width:100px;
    border-collapse: collapse;
}

table tr td {
    padding: 5px;
    vertical-align: top;
}

.list_image {

    width:  60px;
    height: 70px;



}

.list_description {
    width: 80%;}

dl {
    margin: 2px;
}

dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
}

dd {
    margin: 0;
}


.list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
}

.list_line_even {
    background:  #f5f5dc;
}

.list_line_odd {
    background:   #ffc0cb;
}



/* END_HIGHLIGHT */
