// Place all the styles related to the line_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

line_items {margin:4px}